@import url('https://fonts.googleapis.com/css?family=Lemonada:300');
/*----------------------------------------------------------------*/

body, .menuzord a, p {
    font-family: 'Lemonada', cursive;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lemonada', cursive;
}

.for-sale b {
    text-decoration: line-through;
}
