.required {
    color: #f76060;
    font-size: 12px;
}

/*Map*/

#map {
    width: 100%;
    height: 400px;
}

/*End map*/

/*Save & cancel*/

.btn-success {
    font-size: large;
}

.btn-danger {
    font-size: large;
}

/*End save and cancel*/

/*Acquired Features*/

#acquired-features h5 {
    color: #ddd;
}

.feature {
    position: relative;
}

.delete-feature {
    position: absolute;
    left: 0;
}

.fa-times-circle {
    color: #ef6161;
    cursor: pointer;
}

.fa-times-circle:hover {
    font-size: 20px;
}

/*End Acquired Features*/

/*Photos*/

.photos {
    text-align: center;
}

.gallery {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.single-photo {
    max-height: 100px;
    margin: 5px 0;
    border: 2px solid #ffc0cb;
}

.delete-photo {
    left: 5px;
    top: 10px;
    position: absolute;
}

.gallery .cover {
    position: absolute;
    right: -20px;
    top: 15px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    padding: 0 25px;
    background-color: #008000;
    color: #fff;
    font-size: 0.7em;
}

/*End Photos*/

/*Availablilities*/

.single-availability {
    position: relative;
    display: none;
}

.delete-avail {
    position: absolute;
    left: 0;
}

/*End Availablilities*/

/*Prices*/

.add-price {
    padding: 5px 15px;
    float: left;
    margin-bottom: 5px;
}

.single-price {
    display: none;
    position: relative;
}

.delete-price {
    position: absolute;
    left: 0;
    top: 4px;
}

/*End Prices*/

/*Datepicker*/

.mdp .ui-datepicker {
    width: 100%;
}

#unavailable-dates {
    visibility: hidden;
    height: 0;
    width: 0;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
    opacity: 0.9;
    font-weight: bold;
}

/*End Datepicker*/
